<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.event.dao.IEventDao" >
  <resultMap id="BaseResultMap" type="com.fx.event.model.Event" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="trade_term" property="tradeTerm" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="contact_time" property="contactTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_del" property="is_del" jdbcType="INTEGER" />
    <result column="event_language" property="event_language" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, email, phone, age, city, trade_term, amount, contact_time, create_time,type,is_del,event_language
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.event.model.Event" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_event (name, email, phone, 
      age, city, trade_term, 
      amount, contact_time, create_time, type,is_del,event_language
      )
    values (#{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{tradeTerm,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{contactTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{type,jdbcType=INTEGER},#{is_del,jdbcType=INTEGER},#{event_language,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.event.model.Event" >
    update tb_event
    set name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      trade_term = #{tradeTerm,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      contact_time = #{contactTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      is_del=#{is_del,jdbcType=INTEGER},
      event_language = #{event_language,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_event
  </select>
  <select id="pageQueryCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    count(1)
    from tb_event where is_del=0
    <if test="type != null">
         and type = #{type, jdbcType=INTEGER}
    </if>
  </select>
  <select id="pageQueryList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select top ${limit}  
    <include refid="Base_Column_List" />
    from tb_event
     where is_del=0
    <if test="type != null">
    	<if test="type != -1">
          and type = #{type, jdbcType=INTEGER}
        </if>
    </if>
    <if test="offset gt 0">
    and
    
     (
    	  (SELECT MIN(id) FROM (SELECT TOP ${offset} id	FROM tb_event 
    	  <if test="type != null">
    	    <if test="type != -1">
	           where type = #{type, jdbcType=INTEGER}
	        </if>
	    </if> ORDER BY id desc) AS T) > id
		)
    </if>
	order by id desc
  </select>
</mapper>