<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.trademsg.dao.IEconomyDataDao" >
  <resultMap id="BaseResultMap" type="com.fx.trademsg.model.EconomyData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="significance" property="significance" jdbcType="INTEGER" />
    <result column="previous_value" property="previousValue" jdbcType="VARCHAR" />
    <result column="estimated_value" property="estimatedValue" jdbcType="VARCHAR" />
    <result column="present_value" property="presentValue" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, date, time, event, significance, previous_value, estimated_value, present_value, 
    language, create_time, status
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_economy_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.trademsg.model.EconomyData" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_economy_data (date, time, event, 
      significance, previous_value, estimated_value, 
      present_value, language, create_time, 
      status)
    values (#{date,jdbcType=TIMESTAMP}, #{time,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, 
      #{significance,jdbcType=INTEGER}, #{previousValue,jdbcType=VARCHAR}, #{estimatedValue,jdbcType=VARCHAR}, 
      #{presentValue,jdbcType=VARCHAR}, #{language,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.trademsg.model.EconomyData" >
    update tb_economy_data
    set date = #{date,jdbcType=TIMESTAMP},
      time = #{time,jdbcType=VARCHAR},
      event = #{event,jdbcType=VARCHAR},
      significance = #{significance,jdbcType=INTEGER},
      previous_value = #{previousValue,jdbcType=VARCHAR},
      estimated_value = #{estimatedValue,jdbcType=VARCHAR},
      present_value = #{presentValue,jdbcType=VARCHAR},
      language = #{language,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_economy_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_economy_data
  </select>
</mapper>