<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.bonus.dao.IEaCommissionDetailDao" >
  <resultMap id="BaseResultMap" type="com.fx.bonus.model.EaCommissionDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eaId" property="eaid" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="NUMERIC" />
    <result column="payment_date" property="paymentDate" jdbcType="VARCHAR" />
    <result column="from_transaction_id" property="fromTransactionId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="is_paid" property="isPaid" jdbcType="TINYINT" />
    <result column="volume" property="volume" jdbcType="NUMERIC" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="eadeveloperid" property="eadeveloperid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="mt4Account" property="mt4account" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eaId, amount, payment_date,eadeveloperid, from_transaction_id, comment, is_paid, volume, source, 
    status, mt4Account
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_Ea_commission_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.bonus.model.EaCommissionDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_Ea_commission_detail (eaId, amount, payment_date, eadeveloperid,
      from_transaction_id, comment, is_paid, 
      volume, source, status, 
      mt4Account)
    values (#{eaid,jdbcType=INTEGER}, #{amount,jdbcType=NUMERIC}, #{paymentDate,jdbcType=VARCHAR}, #{eadeveloperid,jdbcType=INTEGER},
      #{fromTransactionId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{isPaid,jdbcType=TINYINT}, 
      #{volume,jdbcType=NUMERIC}, #{source,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{mt4account,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.bonus.model.EaCommissionDetail" >
    update tb_Ea_commission_detail
    set eaId = #{eaid,jdbcType=INTEGER},
      amount = #{amount,jdbcType=NUMERIC},
      payment_date = #{paymentDate,jdbcType=VARCHAR},
      eadeveloperid = #{eadeveloperid,jdbcType=INTEGER},
      from_transaction_id = #{fromTransactionId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      is_paid = #{isPaid,jdbcType=TINYINT},
      volume = #{volume,jdbcType=NUMERIC},
      source = #{source,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      mt4Account = #{mt4account,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_Ea_commission_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_Ea_commission_detail
  </select>
  <select id="findEaCommissionDetail" resultMap="BaseResultMap" parameterType="map">
	select
	<include refid="Base_Column_List" />
	from tb_Ea_commission_detail
	where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} 
	  <if test="eaId != null">
       	  and eaId = #{eaId,jdbcType=INTEGER}
      </if>
      <if test="mt4account != null">
       	  and mt4Account = #{mt4account,jdbcType=INTEGER}
      </if>
      <if test="eadeveloperid != null">
       	  and eadeveloperid = #{eadeveloperid,jdbcType=INTEGER}
      </if>
	  
  </select>
  <select id="findEaCommissionDetailByAccount" resultMap="BaseResultMap" parameterType="map">
	select
	<include refid="Base_Column_List" />
	from tb_Ea_commission_detail
	where eaId = #{eaId,jdbcType=INTEGER} and mt4Account = #{mt4account,jdbcType=INTEGER}
  </select>
  <select id="findEaCommissionDetailByEaid" resultMap="BaseResultMap" parameterType="map">
	select
	<include refid="Base_Column_List" />
	from tb_Ea_commission_detail
	where eaId = #{eaid,jdbcType=INTEGER}
  </select>
  <select id="queryCountByConditionByAccountEaid" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    count(1)
    from tb_Ea_commission_detail
    where 1 = 1 
    <if test="eaId != null">
        and eaId = #{eaId, jdbcType=INTEGER}
    </if>
    <if test="mt4Account != null">
        and mt4Account = #{mt4Account, jdbcType=INTEGER}
    </if>
  </select>
  <select id="queryByConditionByAccountEaid" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select top ${limit}  
    <include refid="Base_Column_List" />
    from tb_Ea_commission_detail
    where 1 = 1 
    <if test="eaId != null">
        and eaId = #{eaId, jdbcType=INTEGER}
    </if>
    <if test="mt4Account != null">
        and mt4Account = #{mt4Account, jdbcType=INTEGER}
    </if>
    <if test="offset gt 0">
    and (
    	  (SELECT MIN(id) FROM (SELECT TOP ${offset} id	FROM tb_Ea_commission_detail where 1 = 1 
    	    <if test="eaId != null">
		        and eaId = #{eaId, jdbcType=INTEGER}
		    </if>
		    <if test="mt4Account != null">
		        and mt4Account = #{mt4Account, jdbcType=INTEGER}
		    </if>
    	   ORDER BY id desc) AS T) > id
		)
    </if>
	order by id desc
  </select>
  <select id="pageQueryCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    count(1)
    from tb_Ea_commission_detail
    where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and source=3 
    <if test="eaid != 0">
        and eaid = #{eaid, jdbcType=INTEGER}
    </if>
  </select>
  <select id="pageQueryList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select top ${limit}  
    <include refid="Base_Column_List" />
    from tb_Ea_commission_detail
    where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and source=3 
    <if test="eaid != 0">
        and eaid = #{eaid, jdbcType=INTEGER}
    </if>
    <if test="offset gt 0">
    and (
    	  (SELECT MIN(id) FROM (SELECT TOP ${offset} id	FROM tb_Ea_commission_detail 
    	   where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and source=3 
		    <if test="eaid != 0">
             and eaid = #{eaid, jdbcType=INTEGER}
            </if>
    	   ORDER BY id desc) AS T) > id
		)
    </if>
	order by id desc
  </select>
  <select id="queryCountByAccount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select
    count(1)
    from tb_Ea_commission_detail
    where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and source=3 
    <if test="mt4Account != 0">
        and mt4Account = #{mt4Account, jdbcType=INTEGER}
    </if>
  </select>
  <select id="queryByAccount" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select top ${limit}  
    <include refid="Base_Column_List" />
    from tb_Ea_commission_detail
    where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and source=3 
    <if test="mt4Account != 0">
        and mt4Account = #{mt4Account, jdbcType=INTEGER}
    </if>
    <if test="offset gt 0">
    and (
    	  (SELECT MIN(id) FROM (SELECT TOP ${offset} id	FROM tb_Ea_commission_detail 
    	   where payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and source=3 
		    <if test="mt4Account != 0">
		        and mt4Account = #{mt4Account, jdbcType=INTEGER}
		    </if>
    	   ORDER BY id desc) AS T) > id
		)
    </if>
	order by id desc
  </select>
  <select id="getEaCommissionDetailByEaidDate" resultMap="BaseResultMap" parameterType="map">
	select
	<include refid="Base_Column_List" />
	from tb_Ea_commission_detail
	where  payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and eaId = #{eaId,jdbcType=INTEGER}
  </select>
  <select id="getIBCommissionDetailByAccountDate" resultMap="BaseResultMap" parameterType="map">
	select
	<include refid="Base_Column_List" />
	from tb_Ea_commission_detail
	where  payment_date between #{start,jdbcType=VARCHAR} and #{end,jdbcType=VARCHAR} and mt4Account = #{mt4Account, jdbcType=INTEGER}
  </select>
</mapper>