<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.user.dao.IComplaintDao" >
  <resultMap id="BaseResultMap" type="com.fx.user.model.Complaint" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="complaintType" property="complainttype" jdbcType="INTEGER" />
    <result column="mt4Account" property="mt4account" jdbcType="INTEGER" />
    <result column="phoneNum" property="phonenum" jdbcType="VARCHAR" />
    <result column="documentNumber" property="documentnumber" jdbcType="VARCHAR" />
    <result column="disputeAmount" property="disputeamount" jdbcType="NUMERIC" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, complaintType, mt4Account, phoneNum, documentNumber, disputeAmount, title, 
    status,content
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_complaint
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.user.model.Complaint" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_complaint (uid, complaintType, mt4Account, 
      phoneNum, documentNumber, disputeAmount, 
      title, status,content)
    values (#{uid,jdbcType=INTEGER}, #{complainttype,jdbcType=INTEGER}, #{mt4account,jdbcType=INTEGER}, 
      #{phonenum,jdbcType=VARCHAR}, #{documentnumber,jdbcType=VARCHAR}, #{disputeamount,jdbcType=NUMERIC}, 
      #{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{content,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.user.model.Complaint" >
    update tb_complaint
    set uid = #{uid,jdbcType=INTEGER},
      complaintType = #{complainttype,jdbcType=INTEGER},
      mt4Account = #{mt4account,jdbcType=INTEGER},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      documentNumber = #{documentnumber,jdbcType=VARCHAR},
      disputeAmount = #{disputeamount,jdbcType=NUMERIC},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_complaint
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_complaint
  </select>
  
  <select id="getByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_complaint
    where uid = #{uid,jdbcType=INTEGER}
  </select>
</mapper>