<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.user.dao.IEDocDao">
    <resultMap id="BaseResultMap" type="com.fx.user.model.EDoc">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="doc_type" property="docType" jdbcType="TINYINT"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="CHAR"/>
        <result column="create_ip" property="createIp" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="CHAR"/>
        <result column="update_ip" property="updateIp" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="TINYINT"/>
        <result column="fileName" property="fileName" jdbcType="VARCHAR"/>
        <result column="check_pass" property="checkPass" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, doc_type, file_path, status, create_user, create_time, create_ip, update_user, 
    update_time, update_ip, is_del,fileName,check_pass
  </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_e_doc
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.fx.user.model.EDoc" useGeneratedKeys="true" keyProperty="id">
    insert into tb_e_doc (uid, doc_type, file_path, status, create_user, create_time, 
      create_ip, update_user, update_time, 
      update_ip, is_del,fileName, check_pass)
    values (#{uid,jdbcType=INTEGER}, #{docType,jdbcType=TINYINT}, #{filePath,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, 
      #{createIp,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=CHAR}, 
      #{updateIp,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, #{fileName,jdbcType=VARCHAR}, #{checkPass,jdbcType=TINYINT})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.fx.user.model.EDoc">
    update tb_e_doc
    set uid = #{uid,jdbcType=INTEGER},
      doc_type = #{docType,jdbcType=TINYINT},
      file_path = #{filePath,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      create_ip = #{createIp,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=CHAR},
      update_ip = #{updateIp,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      check_pass = #{checkPass,jdbcType=TINYINT},
      fileName = #{fileName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_e_doc
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_e_doc
    </select>

    <select id="getByUidAndType" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from tb_e_doc
        where uid = #{uid,jdbcType=INTEGER} and is_del = 0
        <if test="typeList!=null">
            and doc_type in
            <foreach collection="typeList" item="docType" separator="," open="(" close=")">#{docType,jdbcType=INTEGER}
            </foreach>
        </if>
    </select>
    <select id="getByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_e_doc
        where uid = #{uid,jdbcType=INTEGER}
    </select>

    <select id="getByUidList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from tb_e_doc
        <if test="idList != null">
            where uid in
            <foreach collection="uidList" item="uid" separator="," open="(" close=")">#{uid,jdbcType=INTEGER}</foreach>
        </if>
    </select>

    <select id="edocsByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_e_doc
        where 1=1 and uid =#{userId}
        and is_del = 0
    </select>
    <select id="findOtherFilesByUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_e_doc
        WHERE 1=1 AND uid = #{userId} AND is_del = 0 AND doc_type = 1
    </select>
    <select id="findEdocByUserIdAndTypeId" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        tb_e_doc
        WHERE
        uid = #{ userId }
        AND doc_type = #{ edocTypeId }
        AND create_time IN (
        SELECT
        MAX (create_time)
        FROM
        tb_e_doc
        WHERE
        uid = #{ userId }
        AND doc_type = #{ edocTypeId }
        AND is_del = 0
        )
    </select>
    <select
            id="doUpdateByUserIdAndTypeId" parameterType="java.util.Map">
    UPDATE tb_e_doc
    SET is_del = 1
    WHERE
    is_del = 0 AND
    uid = #{ userId }
    AND doc_type = #{ edocTypeId }
  </select>
    <select
            id="doDeleteOldByUserIdAndTypeId" parameterType="java.util.Map">
    UPDATE tb_e_doc
    SET is_del = 1
    WHERE
	uid = #{ userId }
    AND doc_type = #{ edocTypeId }
    AND create_time IN (
	SELECT
		MIN (create_time)
	FROM
		tb_e_doc
	WHERE
		uid = #{ userId }
	AND doc_type = #{ edocTypeId }
	AND is_del = 0)
  </select>
    <select
            id="doDeleteAllByUserIdAndTypeId" parameterType="java.util.Map">
        UPDATE tb_e_doc
        SET is_del = 1
        WHERE
        is_del = 0 and
        uid = #{ userId }
        AND doc_type = #{ edocTypeId }
    </select>
    <select id="findEdocsByUserIdAndType" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        tb_e_doc
        WHERE
        uid = #{ userId }
        AND doc_type = #{ edocTypeId }
        AND is_del = 0
    </select>
    <select id="doUpdateCheckPassByFilePath" parameterType="java.lang.String">
    update tb_e_doc set check_pass = 1 where is_del = 0 and file_path = #{filePath}
  </select>
    <select id="doDeleteByFilePath" parameterType="java.lang.String">
    update tb_e_doc set is_del = 1 where is_del = 0 and file_path = #{filePath}
  </select>
</mapper>