<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.user.dao.ISalesOperateLogDao" >
  <resultMap id="BaseResultMap" type="com.fx.user.model.SalesOperateLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="operating" property="operating" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="from_model" property="fromModel" jdbcType="VARCHAR" />
    <result column="pic_id" property="picId" jdbcType="INTEGER" />
    <result column="lifecycle_type" property="lifecycleType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operator, uid, operator_id, operating, description, pic, operation_time, create_time, 
    from_model, pic_id, lifecycle_type
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sales_operate_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.user.model.SalesOperateLog" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_sales_operate_log (operator, uid, operator_id, 
      operating, description, pic, 
      operation_time, create_time, from_model, pic_id, lifecycle_type
      )
    values (#{operator,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, 
      #{operating,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{operationTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{fromModel,jdbcType=VARCHAR},
      #{picId,jdbcType=INTEGER}, #{lifecycleType,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.user.model.SalesOperateLog" >
    update tb_sales_operate_log
    set operator = #{operator,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=INTEGER},
      operating = #{operating,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      from_model = #{fromModel,jdbcType=VARCHAR},
      pic_id = #{picId,jdbcType=INTEGER},
      lifecycle_type = #{lifecycleType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_sales_operate_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_sales_operate_log
  </select>
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from tb_sales_operate_log
    where uid = #{userId, jdbcType=INTEGER}
    order by operation_time desc
  </select>
</mapper>