<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.user.dao.IUserRegisterRejectLogDao" >
  <resultMap id="BaseResultMap" type="com.fx.user.model.UserRegisterRejectLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
    <result column="refuseReason" property="refusereason" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="is_ibId" property="isIbid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, create_time, update_user, update_time, update_ip, refuseReason, comment, 
    is_ibId
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_register_reject_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.user.model.UserRegisterRejectLog" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_user_register_reject_log (uid, create_time, update_user, 
      update_time, update_ip, refuseReason, 
      comment, is_ibId)
    values (#{uid,jdbcType=INTEGER}, #{createTime,jdbcType=CHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=CHAR}, #{updateIp,jdbcType=VARCHAR}, #{refusereason,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{isIbid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.user.model.UserRegisterRejectLog" >
    update tb_user_register_reject_log
    set uid = #{uid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=CHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=CHAR},
      update_ip = #{updateIp,jdbcType=VARCHAR},
      refuseReason = #{refusereason,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      is_ibId = #{isIbid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_register_reject_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_user_register_reject_log
  </select>

  <select id="getByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from tb_user_register_reject_log
    <where>
        uid = #{uid,jdbcType=INTEGER}
    </where>
  </select>
</mapper>