<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.lwork.dao.IWorkUserDao" >
  <resultMap id="BaseResultMap" type="com.fx.lwork.model.WorkUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login" property="login" jdbcType="CHAR" />
    <result column="customer_name" property="customerName" jdbcType="CHAR" />
    <result column="card_no" property="cardNo" jdbcType="CHAR" />
    <result column="paper_no" property="paperNo" jdbcType="CHAR" />
    <result column="file_path_paper" property="filePathPaper" jdbcType="VARCHAR" />
    <result column="file_path_card" property="filePathCard" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="CHAR" />
    <result column="mark" property="mark" jdbcType="CLOB" />
    <result column="file_local_path_paper" property="fileLocalPathPaper" jdbcType="CLOB" />
    <result column="file_local_path_card" property="fileLocalPathCard" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login, customer_name, card_no, paper_no, file_path_paper, file_path_card, status, 
    createTime, mark,file_local_path_paper,file_local_path_card
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lwork_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.lwork.model.WorkUser" useGeneratedKeys="true" keyProperty="id" >
    insert into lwork_user (login, customer_name, card_no, 
      paper_no, file_path_paper, file_path_card, 
      status, createTime, mark,file_local_path_paper,file_local_path_card)
    values (#{login,jdbcType=CHAR}, #{customerName,jdbcType=CHAR}, #{cardNo,jdbcType=CHAR}, 
      #{paperNo,jdbcType=CHAR}, #{filePathPaper,jdbcType=VARCHAR}, #{filePathCard,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=CHAR}, #{mark,jdbcType=CLOB},#{fileLocalPathPaper,jdbcType=VARCHAR},#{fileLocalPathCard,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.lwork.model.WorkUser" >
    update lwork_user
    set login = #{login,jdbcType=CHAR},
      customer_name = #{customerName,jdbcType=CHAR},
      card_no = #{cardNo,jdbcType=CHAR},
      paper_no = #{paperNo,jdbcType=CHAR},
      file_path_paper = #{filePathPaper,jdbcType=VARCHAR},
      file_path_card = #{filePathCard,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=CHAR},
      mark = #{mark,jdbcType=CLOB},
      file_local_path_paper=#{fileLocalPathPaper,jdbcType=VARCHAR},
      file_local_path_card=#{fileLocalPathCard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from lwork_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  parameterType="com.fx.lwork.model.WorkUser">
    select
    <include refid="Base_Column_List" />
    from lwork_user
  </select> 
  
 <!--  <update id="upatebyLoginId"   parameterType="com.fx.lwork.model.WorkUser">
        update lwork_user
	    set login = #{login,jdbcType=CHAR},
	      customer_name = #{customerName,jdbcType=CHAR},
	      card_no = #{cardNo,jdbcType=CHAR},
	      paper_no = #{paperNo,jdbcType=CHAR},
	      file_path_paper = #{filePathPaper,jdbcType=VARCHAR},
	      file_path_card = #{filePathCard,jdbcType=VARCHAR},
	      status = #{status,jdbcType=INTEGER},
	      createTime = #{createtime,jdbcType=CHAR},
	      mark = #{mark,jdbcType=CLOB}
	    where card_no = #{cardNo,jdbcType=CHAR}
  </update> -->
  
</mapper>