<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.crm.sys.datarule.dao.IRoleDataRuleDao" >
  <resultMap id="BaseResultMap" type="com.fx.crm.sys.datarule.model.RoleDataRule" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="rule_id" property="ruleId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_id, role_id, rule_id, update_user, update_time, update_ip
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_sys_role_datarule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fx.crm.sys.datarule.model.RoleDataRule" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_sys_role_datarule (menu_id, role_id, rule_id, 
      update_user, update_time, update_ip
      )
    values (#{menuId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateIp,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.crm.sys.datarule.model.RoleDataRule" >
    update tb_sys_role_datarule
    set menu_id = #{menuId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      rule_id = #{ruleId,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_ip = #{updateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_sys_role_datarule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_sys_role_datarule
  </select>
</mapper>