<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.crm.sys.permission.dao.IPermissionDao" >
  <resultMap id="BaseResultMap" type="com.fx.crm.sys.permission.model.Permission" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="permission_exp" property="permissionExp" jdbcType="VARCHAR" />
    <result column="menuid" property="menuid" jdbcType="VARCHAR" />
    <result column="permission_type" property="permissionType" jdbcType="VARCHAR" />
    <result column="permission_desc" property="permissionDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permission_exp, menuid, permission_type, permission_desc
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_sys_permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fx.crm.sys.permission.model.Permission" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_sys_permission (permission_exp, menuid, permission_type
      )
    values (#{permissionExp,jdbcType=VARCHAR}, #{menuid,jdbcType=VARCHAR}, #{permissionType,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.crm.sys.permission.model.Permission" >
    update tb_sys_permission
    set permission_exp = #{permissionExp,jdbcType=VARCHAR},
      menuid = #{menuid,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_sys_permission
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_sys_permission
  </select>
  <select id="selectPermissionsByMenuId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_sys_permission
    where menuid = #{menuid,jdbcType=VARCHAR}
  </select>
</mapper>