<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false" scan="true" scanPeriod="2 seconds">

	<!-- 控制台 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] {%p} %c %L - %m%n</pattern>
		</encoder>
	</appender>
	<!--文件 -->
	<appender name="filelog_daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/cron/deposit.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 超过30个月的日志自动清除	 -->
			<!-- <MaxHistory>30</MaxHistory> -->
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] {%p} %c %L - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="myAccountController_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/cron/trader.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 超过30个月的日志自动清除	 -->
			<!-- <MaxHistory>30</MaxHistory> -->
		</rollingPolicy>  
	    <append>true</append>  
	    <encoder>  
	    	<pattern>[%d{yyyy-MM-dd HH:mm:ss}] {%p} %c %L - %m%n</pattern>  
	    </encoder>  
	</appender>
	<appender name="demoRegister" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/cron/demoReglog_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<!-- <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy> -->
		</rollingPolicy>
		<encoder >
			<pattern>[%level][%thread] - %d{HH:mm:ss.SSS} - %logger#%line %m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="transferLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/cron/transferLog_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<!-- <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy> -->
		</rollingPolicy>
		<encoder >
			<pattern>[%level][%thread] - %d{HH:mm:ss.SSS} - %logger#%line %m%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.fx.MT4.util.MT4AccountUtil">
		<level value="DEBUG"/>
		<appender-ref ref="demoRegister"/>	
	</logger>
	<logger name="com.fx.controller.tradingaccounts" additivity="false" >
		<level value="DEBUG"/>
		<appender-ref ref="demoRegister"/>
	</logger>
	<logger name="com.fx.user.service.impl.UserRegisterServiceImpl" additivity="false">  
       <level value="DEBUG" />
       <appender-ref ref="demoRegister"/>  
    </logger>
    <logger name="com.fx.payment.service.impl.UserAccountServiceImpl" additivity="false">  
       <level value="DEBUG" />
       <appender-ref ref="demoRegister"/>  
    </logger>
	<logger name="com.fx.crm.transfer.impl.TransferServiceImpl">
		<level value="INFO" />
		<appender-ref ref="transferLog"/>
	</logger>
    
      
    <logger name="com.fx.controller.myAccount.myAccountController">
		<level value="error" />
		<appender-ref ref="stdout" /> 
		<appender-ref ref="myAccountController_log" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="myAccountController_log" /> 
		<appender-ref ref="filelog_daily" /> 
	</root>
</configuration>
