<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.customer.dao.ICustSourceDao" >
  <resultMap id="BaseResultMap" type="com.fx.customer.model.CustSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source_name" property="sourceName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, source_name, status
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_cust_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.customer.model.CustSource" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_cust_source (source_name, status)
    values (#{sourceName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.customer.model.CustSource" >
    update tb_cust_source
    set source_name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_cust_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_cust_source
    where status = 1
  </select>
  <insert id="insertCustSourceCust" parameterType="com.fx.customer.model.CustSource">
    insert into tb_cust_source (id,source_name, status)
    values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateCustSourceById" parameterType="com.fx.customer.model.CustSource" >
    update tb_cust_source
    set  status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="selectCustSourcemaxid" resultType="java.lang.Integer" parameterType="java.util.Map" >
  	select Max(id)
  	from tb_cust_source
  </select>
</mapper>