<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.fx.customer.dao.ISalesProcessDao" >
  <resultMap id="BaseResultMap" type="com.fx.customer.model.SalesProcess" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_name" property="processName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, process_name, status
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sales_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.customer.model.SalesProcess" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_sales_process (process_name, status)
    values (#{processName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fx.customer.model.SalesProcess" >
    update tb_sales_process
    set process_name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_sales_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_sales_process
    where status = 1
  </select>
  <insert id="insertSalesProcess" parameterType="com.fx.customer.model.SalesProcess">
    insert into tb_sales_process (id,process_name, status)
    values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateSalesProcessById" parameterType="com.fx.customer.model.SalesProcess" >
    update tb_sales_process
    set  status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectSalesProcessmaxid" resultType="java.lang.Integer" parameterType="java.util.Map" >
  	select Max(id)
  	from tb_sales_process
  </select>
</mapper>